body {
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #010115;
    color: #FFFAFA;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    margin: 10px 0;
}

.container {
    width: 80%;
    margin: auto;
}

.prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.price-container {
    width: 320px;
    height: 180px;
    text-align: center;
    border-radius: 28px;
    box-shadow: 0 0 10px #FFFAFA;
    padding: 20px 10px;
    margin: 20px;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.symbol {
    color: #808080;
}

.price {
    font-size: 32px;
    font-weight: bold;
}

.percent {
    font-size: 20px;
    font-weight: bold;
}

.positive {
    color: #00FF00;
}

.negative {
    color: #FF0000;
}

@keyframes fadeColorIncrease {
  0% {
    color: #00FF00;
  }
  100% {
    color: #FFFAFA;
  }
}

@keyframes fadeColorDecrease {
  0% {
    color: #FF0000;
  }
  100% {
    color: #FFFAFA;
  }
}

.increase {
  animation: fadeColorIncrease 2s linear;
}

.decrease {
  animation: fadeColorDecrease 2s linear;
}
